@{
    ViewData["Title"] = "Main Page";
}
<h1>List of current lots</h1>
<div>
    <table style="border: 1px solid; width: 90%;border-color: black; text-align: left; column-rule: solid; border-spacing: 20px; padding:5px;">
        <tr class="header" style="border:1px solid;">
            <td style="border:1px solid;"><p>Название предмета</p></td>
            <td style="border:1px solid;"><p>Описание</p></td>
            <td style="border:1px solid;"><p>Фото</p></td>
            <td style="border:1px solid;">Ссылка</td>
        </tr>
        @foreach (diplom.Models.Lot b in Model)
        {
            Microsoft.EntityFrameworkCore.DbSet<diplom.Models.User> users = diplom.Controllers.HomeController.db.Users;//Model.Users;
            diplom.Models.User curruser = users.Where(x => x.user_id == b.user_id).FirstOrDefault();
            <tr style="border:1px solid;">
                <td style="text-align:center; font-size:20px; border: 1px solid;"><p>@b.lot_name</p></td>
                <td style="border:1px solid;"><p>@curruser.user_name  @curruser.user_surname</p></td>
                <td style="border-spacing:20px; border:1px solid;">
                    
                    <img src= "@Url.Content(@b.lot_photo)"  height="180"/>
                </td>
                <td style="border:1px solid;"><p><a href="~/Home/Item?lot=@b.lot_id">Перейти к лоту</a></p></td>
            </tr>
        }
    </table>
</div>
